@font-face {
  font-family: 'icon-workflow';
  src:
    url('fonts/icon-workflow.ttf?k8h1l') format('truetype'),
    url('fonts/icon-workflow.woff?k8h1l') format('woff'),
    url('fonts/icon-workflow.svg?k8h1l#icon-workflow') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-workflow' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-workflow-wenbenshuoming:before {
  content: "\e923";
}
.icon-workflow-caozuoqian:before {
  content: "\e921";
}
.icon-workflow-caozuohou:before {
  content: "\e922";
}
.icon-workflow-duigou:before {
  content: "\e91f";
}
.icon-workflow-shezhi:before {
  content: "\e920";
}
.icon-workflow-chuli:before {
  content: "\e900";
}
.icon-workflow-daochu:before {
  content: "\e901";
}
.icon-workflow-baocun:before {
  content: "\e902";
}
.icon-workflow-chexiao:before {
  content: "\e903";
}
.icon-workflow-chuangjian:before {
  content: "\e904";
}
.icon-workflow-fanhui:before {
  content: "\e905";
}
.icon-workflow-fencha:before {
  content: "\e906";
}
.icon-workflow-fenchazhongjiandian:before {
  content: "\e907";
}
.icon-workflow-guidang:before {
  content: "\e908";
}
.icon-workflow-hebing:before {
  content: "\e909";
}
.icon-workflow-hengxiangfenzu:before {
  content: "\e90a";
}
.icon-workflow-kaoshangduiqi:before {
  content: "\e90b";
}
.icon-workflow-kaoxiaduiqi:before {
  content: "\e90c";
}
.icon-workflow-kaoyouduiqi:before {
  content: "\e90d";
}
.icon-workflow-shanchu:before {
  content: "\e90e";
}
.icon-workflow-shangxiadengjian:before {
  content: "\e90f";
}
.icon-workflow-shenpi:before {
  content: "\e910";
}
.icon-workflow-ziti:before {
  content: "\e911";
}
.icon-workflow-kaozuoduiqi:before {
  content: "\e912";
}
.icon-workflow-tianjiafenzu:before {
  content: "\e913";
}
.icon-workflow-zongxiangfenzu:before {
  content: "\e914";
}
.icon-workflow-zuoyoudengjian:before {
  content: "\e915";
}
.icon-workflow-tingzhi:before {
  content: "\e916";
}
.icon-workflow-zanting:before {
  content: "\e917";
}
.icon-workflow-ceshi:before {
  content: "\e918";
}
.icon-workflow-suoxiao:before {
  content: "\e919";
}
.icon-workflow-fangda:before {
  content: "\e91a";
}
.icon-workflow-huifuyuanbil:before {
  content: "\e91b";
}
.icon-workflow-xianshifenzu:before {
  content: "\e91c";
}
.icon-workflow-wangge:before {
  content: "\e91d";
}
.icon-workflow-biaochi:before {
  content: "\e91e";
}
