.wfEditorContainer{
    width: calc( 100% - 240px);
    background: #F9F9F9;
    height: 150px;
    overflow: auto;
}
.wfEditorContainer .icon-workflow{
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    padding: 15px;
}
.wfEditorContainer .icon-workflow:hover{
    cursor: pointer;
    background: #E6E6E6;
    border-radius: 5px;
}
.wfEditorContainer .action-area{
    display: inline-block;
}
.wfEditorContainer .action-area-tip{
    text-align: center;
}
.wfEditorContainer .wfEditor-split{
    display: inline-block;
    height: 44px;
    width: 1px;
    background: #ccc;
    vertical-align: middle;
}
.icon-left-style{
    /* margin-right: 40px; */
    position: absolute;
    left: 0;
}
.icon-right-style{
    /* margin-right: 40px; */
    position: absolute;
    right: 0;
}
.mxCellEditor{
    width: 110px !important;
    padding: 0 18px;
    white-space: nowrap;
    overflow: hidden;
}
/* range custom style */
.wfEditorContainer input[type=range]{ 
    vertical-align: middle;
    outline: none; 
    -webkit-appearance: none;/*清除系统默认样式*/  
    width:100px;  
    background: -webkit-linear-gradient(#3B99FC, #3B99FC) no-repeat, #ddd;  
    background-size: 50% 100%;/*设置左右宽度比例*/  
    border-radius: 2px;
    height: 2px;/*横条的高度*/  
} 
/*拖动块的样式*/  
.wfEditorContainer input[type=range]::-webkit-slider-thumb {  
    -webkit-appearance: none;/*清除系统默认样式*/  
    height:12px;/*拖动块高度*/  
    width: 12px;/*拖动块宽度*/  
    background: #fff;/*拖动块背景*/  
    border-radius: 50%; /*外观设置为圆形*/  
    border: solid 1px #ddd; /*设置边框*/  
}
/* 标尺 canvas */
#wf-row-rule-canvas{
    background: #F9F9F9;
    position: fixed;
    left: 0;
    top: 135px;
    border: 1px solid #A9A9A9;
    border-right: none;
}
#wf-col-rule-canvas{
    background: #F9F9F9;
    position: fixed;
    left: 0;
    top: 157px;
    border: 1px solid #A9A9A9;
    border-top: none;
}
/* 节点 */

.wf-word-line{
    width: 90px;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* position: relative; */
    color:#026C14;
}
.nodeIcon{
    position: relative;
    top: -10px;
    font-size: 20px;
    color: #5ABD6B;
}
.nodeIcon .nodeIconLeft{
    float: left;
}
.nodeIcon .nodeIconRight{
    float: right;
}
/* wfNodeInfoContainer */
.wfNodeInfoContainer{
    position: absolute;
    background: #F9F9F9;
    right: 0px;
    z-index: 1;
    top: 0px;
    width: 240px;
    bottom: 0px;
    border: 1px solid #999;
    border-top: none;
}
.wfNodeInfoContainer .nodeInfo-header{
    height:  44px;
    line-height: 44px;
    text-align: center;
    border-bottom: 1px solid #999;
}