.ant-modal-content [class^="icon-"], .ant-modal-content [class*=" icon-"] ,.wea-select [class^="icon-"], .wea-select [class*=" icon-"] {
    font-family: icon-coms!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.wfEditorContainer{
    width: calc( 100% - 240px);
    background: #F9F9F9;
    height: 150px;
    overflow: auto;
}
.wfEditorContainer .icon-workflow{
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    padding: 15px;
}
.wfEditorContainer .icon-workflow:hover{
    cursor: pointer;
    background: #E6E6E6;
    border-radius: 5px;
}
.wfEditorContainer .action-area{
    display: inline-block;
}
.wfEditorContainer .action-area-tip{
    text-align: center;
}
.wfEditorContainer .wfEditor-split{
    display: inline-block;
    height: 44px;
    width: 1px;
    background: #ccc;
    vertical-align: middle;
}
.icon-left-style{
    /* margin-right: 40px; */
    position: absolute;
    left: 0;
}
.icon-right-style{
    /* margin-right: 40px; */
    position: absolute;
    right: 0;
}
.mxCellEditor{
    width: 110px !important;
    padding: 0 18px;
    white-space: nowrap;
    overflow: hidden;
}
/* range custom style */
.wfEditorContainer input[type=range]{ 
    display: inline-block;
    vertical-align: middle;
    outline: none; 
    -webkit-appearance: none;/*清除系统默认样式*/  
    width:100px;  
    background: -webkit-linear-gradient(#3B99FC, #3B99FC) no-repeat, #ddd;  
    background-size: 50% 100%;/*设置左右宽度比例*/  
    border-radius: 2px;
    height: 2px;/*横条的高度*/  
} 
/*拖动块的样式*/  
.wfEditorContainer input[type=range]::-webkit-slider-thumb {  
    -webkit-appearance: none;/*清除系统默认样式*/  
    height:12px;/*拖动块高度*/  
    width: 12px;/*拖动块宽度*/  
    background: #fff;/*拖动块背景*/  
    border-radius: 50%; /*外观设置为圆形*/  
    border: solid 1px #ddd; /*设置边框*/  
}
/* 标尺 canvas */
#wf-row-rule-canvas{
    background: #F9F9F9;
    position: fixed;
    left: 0;
    top: 135px;
    border: 1px solid #A9A9A9;
    border-right: none;
}
#wf-col-rule-canvas{
    background: #F9F9F9;
    position: fixed;
    left: 0;
    top: 157px;
    border: 1px solid #A9A9A9;
    border-top: none;
}
/* 节点 */
.wf-nodeVal{
    display: inline-block;
    width: 100%;
}
.wf-word-line{
    width: 100%;
    top: -6px;
    /* padding: 0 10px; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* position: relative; */
    color:#026C14;
}
.nodeIcon{
    position: relative;
    top: -10px;
    font-size: 18px;
    color: #5ABD6B;
}
.nodeIcon .nodeIconLeft{
    float: left;
    /* margin-left: 10px; */
}
.nodeIcon .nodeIconRight{
    float: right;
}
/* wfNodeInfoContainer */
.wfNodeInfoContainer{
    position: absolute;
    background: #fff;
    right: 0px;
    z-index: 1;
    top: 0px;
    width: 240px;
    bottom: 0px;
    border: 1px solid #E2E2E2;
    border-top: none;
    transition: all .01s;
    /* overflow-y: auto; */
}
.wfNodeInfoContainer #nodeInfo-detail-shouldSaveFirst{
    color: red;
    padding: 10px;
}
.wfNodeInfoContainer .nodeInfo-header{
    height:  44px;
    line-height: 44px;
    text-align: center;
    border-bottom: 1px solid #E2E2E2;
    background: #F4F4F4;
    color: #333;
    font-size: 14px;
}
.wfNodeInfoContainer #nodeInfo-no-node{
    text-align: center;
}
.wfNodeInfoContainer #nodeInfo-node-detail .nodeInfo-detail-item{
    padding: 10px 10px;
    margin: 0;
    font-size: 12px;
    border-bottom: 1px solid #E2E2E2;
}
.nodeInfo-detail-item .detail-item-span{
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    padding-left: 5%;
}
/* 修改引用的组件库组件样式  */
.nodeInfo-detail-item .isEcComs-item{
    width: 55%;
}
#operators-container .wea-browser{
    display: inline-block;
    width: 100%;
}
#targetCell-container .wea-select ,#changeNodeType-container .wea-select{
    width: 100%;
}
.nodeInfo-detail-item .icon-workflow-shezhi{
    cursor: pointer;
    font-size: 18px;
    vertical-align: middle;
    color: #B2B2B2;
}
.nodeInfo-detail-item .icon-workflow-duigou{
    color: #70D256;
    margin-left: 8px;
    font-weight: bolder;
    font-size: 16px;
    vertical-align: middle;
}
/* 折叠 收缩按钮 */
.nodeInfo-panel-folder{
    position: absolute;
    left: 0;
    top: 50%;
    /* bottom: 0; */
    width: 15px;
    height: 50px;
    border: 1px solid #B2B2B2;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background: #fff;
}
/* 操作者 */
.detail-item-right .operators-area{
    border: 1px solid #E2E2E2;
    min-height: 30px;
}
.detail-item-right .operators-area .operators-left-area{
    height: 30px;
    width: calc(100% - 31px);
    background: #fff;
    display: inline-block;
    vertical-align: middle;
}
.detail-item-right .operators-area .operators-right-area{
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    background: #F6F6F6;
    font-size: 21px;
    color: #B2B2B2;
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #E2E2E2;
    cursor: pointer;
}
/* 横向分组 */
.workflow-row-group{
    border-bottom: 2px dashed #ddd;
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
}
.workflow-col-group:hover {
    border-color: #000;
    cursor: ew-resize;
}
.workflow-row-group:hover{
    border-color: #000;
    cursor: ns-resize;
}
/* 纵向分组 */
.workflow-col-group{
    border-right: 2px dashed #ddd;
    position: absolute;
    left: 100px;
    z-index: 1;
    height: 100%;
}
/* 分组 last*/
.wfGroupsContainer{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.wfGroupsContainer [class^="icon-"], .wfGroupsContainer [class*=" icon-"]{
    font-family: icon-coms!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#col-group-panel-area{
    position: absolute;
    /* height: 100%;
    width: 25px; */
    border-right: 1px solid #ddd;
    background: #fff;
    z-index: 2;

    height: 25px;
    width: 100%;
    border-top: 1px solid #ddd;
    transform: rotate(90deg) translateX(-25px);
    transform-origin: left bottom;
}
#row-group-panel-area{
    position: absolute;
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    z-index: 2;
}
.col-group-item{
    /* position: absolute; */
    /* text-align: center; */
    display: inline-block;
    height: 25px;
    width: 150px;
    border-right: 1px solid #999999;
    float:left;
}
.row-group-item{
    /* height: 150px;
    width: 25px;
    border-bottom: 1px solid #999; */
    display: inline-block;
    height: 25px;
    width: 150px;
    border-right: 1px solid #999999;
    float:left;
}
.group-item-info .group-item-input{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    width: 100px;
    transform: translate(-50%,-50%)
}
.group-item-info{
    position: relative;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.group-item-action{
    display: none;
    float: right;
    margin-right: 2px;
}
.group-item-action .action-item{
    display: inline-block;
    vertical-align: middle;
}
.col-group-item:hover,.row-group-item:hover{
    background: lightblue;
}
.col-group-item:hover .group-item-action , .row-group-item:hover .group-item-action{
    display: inline-block;
}
.col-group-item:hover .group-item-info ,.row-group-item:hover .group-item-info{
    width: 70%;
}
.group-item-action .action-item:hover{
    background: #3B99FC;
    color: #fff;
    padding: 1px;
    border-radius: 1px;
    cursor: pointer;
}

/* 流程测试 */
.workfow-test{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: rgb(197, 72, 72);
    border-radius: 50%;
    position: absolute;
    transition: all .5s;
}
/* 流程测试详细信息面板 */
#workflow-test-detail-panel{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 160px;
    box-shadow: 0 0 2px #333;
    background: #fff;
    overflow: auto;
    padding-top: 10px;
    z-index: 2;
}
#workflow-test-detail-panel .wfTest-detail-item{
    padding: 0 10px;
}
#workflow-test-detail-panel .wfTest-item-wrong{
    color: red;
}
#test-panel-split{
    /* left: 0;
    right: 0;
    top: 0; */
    left: 0;
    right: 250px;
    bottom: 150px;
    z-index: 2;
    /* bottom: 150px; */
}